<ion-view view-title="Planets">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="planet in planets" type="item-text-wrap" href="#/tab/planets/{{planet.id()}}">
        <img ng-src="{{planet.url}}">
        <h2>{{planet.name}}</h2>
        <p>{{planet.rotation_period}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(planet)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
