<ion-view view-title="People">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="people in peopleList" type="item-text-wrap" href="#/tab/people/{{people._id}}">
        <img ng-src="{{people.face}}">
        <h2>{{people.name}}</h2>
        <p>
          <label for="">Color: {{people.skin_color}} |</label>
          <span>Height: {{people.height}} cm</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(people)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
